<div class="container">
  <h1><%= @list.name %></h1>
  <ul class="bookmarks">
    <% @list.bookmarks.each do |bookmark| %>
      <li>
        <div class="bookmark-info">
          <div class="title"><%= bookmark.movie.title %></div>
          <div class="comment"><%= bookmark.comment %></div>
        </div>
        <div class="actions">
          <%= button_to "Delete", bookmark_path(bookmark), method: :delete, class: "btn btn-danger" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
